In [1]:
ls

Bixi 2019 data.ipynb  OD_2019-06.csv        OD_2019-09.csv
OD_2019-04.csv        OD_2019-07.csv        OD_2019-10.csv
OD_2019-05.csv        OD_2019-08.csv        Stations_2019.csv

In [2]:
ls

Bixi 2019 data.ipynb  OD_2019-06.csv        OD_2019-09.csv
OD_2019-04.csv        OD_2019-07.csv        OD_2019-10.csv
OD_2019-05.csv        OD_2019-08.csv        Stations_2019.csv

In [3]:
import os

In [7]:
import pandas as pd

In [9]:
bixi = pd.read_csv("OD_2019-04.csv")

In [10]:
bixi.head

<bound method NDFrame.head of                  start_date  start_station_code             end_date  \
0       2019-04-14 07:55:22                6001  2019-04-14 08:07:16
1       2019-04-14 07:59:31                6411  2019-04-14 08:09:18
2       2019-04-14 07:59:55                6097  2019-04-14 08:12:11
3       2019-04-14 07:59:57                6310  2019-04-14 08:27:58
4       2019-04-14 08:00:37                7029  2019-04-14 08:14:12
5       2019-04-14 08:01:27                6234  2019-04-14 08:08:02
6       2019-04-14 08:01:42                7133  2019-04-14 08:11:31
7       2019-04-14 08:01:52                6306  2019-04-14 08:10:11
8       2019-04-14 08:02:29                6233  2019-04-14 08:04:41
9       2019-04-14 08:02:46                6350  2019-04-14 08:09:04
10      2019-04-14 08:02:50                6158  2019-04-14 08:05:50
11      2019-04-14 08:03:32                7043  2019-04-14 08:12:05
12      2019-04-14 08:03:35                6387  2019-04-14 08:28:23
13      2019-04-14 08:04:29                7043  2019-04-14 08:12:09
14      2019-04-14 08:05:10                6389  2019-04-14 08:56:53
15      2019-04-14 08:05:18                7043  2019-04-14 08:12:15
16      2019-04-14 08:05:24                6261  2019-04-14 08:26:30
17      2019-04-14 08:05:27                6169  2019-04-14 08:14:58
18      2019-04-14 08:05:28                7032  2019-04-14 08:20:10
19      2019-04-14 08:07:02                4002  2019-04-14 09:09:35
20      2019-04-14 08:07:35                6367  2019-04-14 08:44:20
21      2019-04-14 08:07:38                6036  2019-04-14 08:26:24
22      2019-04-14 08:08:52                6190  2019-04-14 08:09:58
23      2019-04-14 08:08:53                6414  2019-04-14 08:33:26
24      2019-04-14 08:09:15                6155  2019-04-14 08:10:32
25      2019-04-14 08:09:45                6379  2019-04-14 08:11:19
26      2019-04-14 08:09:58                6021  2019-04-14 08:20:22
27      2019-04-14 08:10:28                7013  2019-04-14 08:18:14
28      2019-04-14 08:10:51                6926  2019-04-14 08:29:07
29      2019-04-14 08:10:56                6411  2019-04-14 08:22:14
...                     ...                 ...                  ...
237512  2019-04-30 23:54:21                6901  2019-04-30 23:58:03
237513  2019-04-30 23:54:24                6901  2019-05-01 00:16:28
237514  2019-04-30 23:54:27                6901  2019-05-01 00:07:38
237515  2019-04-30 23:54:30                6424  2019-04-30 23:59:39
237516  2019-04-30 23:54:42                6118  2019-05-01 00:02:01
237517  2019-04-30 23:54:51                6202  2019-04-30 23:59:46
237518  2019-04-30 23:54:52                6137  2019-05-01 00:01:40
237519  2019-04-30 23:54:53                6128  2019-05-01 00:02:12
237520  2019-04-30 23:55:00                6021  2019-05-01 00:02:55
237521  2019-04-30 23:55:00                6277  2019-05-01 00:01:51
237522  2019-04-30 23:55:08                6340  2019-05-01 00:19:10
237523  2019-04-30 23:55:16                6108  2019-04-30 23:58:24
237524  2019-04-30 23:55:25                6280  2019-05-01 00:00:01
237525  2019-04-30 23:56:14                6173  2019-04-30 23:59:39
237526  2019-04-30 23:56:22                6202  2019-04-30 23:58:56
237527  2019-04-30 23:56:45                6065  2019-04-30 23:58:01
237528  2019-04-30 23:56:49                6113  2019-05-01 00:01:34
237529  2019-04-30 23:57:08                6371  2019-05-01 00:00:10
237530  2019-04-30 23:57:10                6020  2019-05-01 00:11:12
237531  2019-04-30 23:57:24                6218  2019-05-01 00:01:09
237532  2019-04-30 23:57:36                6182  2019-05-01 00:07:19
237533  2019-04-30 23:58:25                7069  2019-05-01 00:01:49
237534  2019-04-30 23:58:40                7003  2019-05-01 00:05:08
237535  2019-04-30 23:58:45                6020  2019-05-01 00:13:50
237536  2019-04-30 23:59:23                6411  2019-05-01 00:11:14
237537  2019-04-30 23:59:27                6215  2019-05-01 00:01:57
237538  2019-04-30 23:59:37                6173  2019-05-01 00:07:17
237539  2019-04-30 23:59:38                6080  2019-05-01 00:10:30
237540  2019-04-30 23:59:40                6226  2019-05-01 00:25:19
237541  2019-04-30 23:59:45                6065  2019-05-01 00:01:05

        end_station_code  duration_sec  is_member
0                   6132           713          1
1                   6411           587          1
2                   6036           736          1
3                   6345          1680          1
4                   6250           814          0
5                   6215           395          1
6                   7129           588          0
7                   6221           499          1
8                   6234           132          0
9                   7034           378          1
10                  6190           180          1
11                  6022           512          1
12                  7125          1488          1
13                  6022           459          1
14                  6389          3102          1
15                  6022           416          1
16                  6001          1265          1
17                  6183           570          1
18                  7032           882          1
19                  7112          3753          1
20                  6141          2204          1
21                  6036          1125          0
22                  6190            66          1
23                  6023          1472          1
24                  6154            76          1
25                  7060            93          1
26                  6184           623          1
27                  7013           466          1
28                  6746          1095          1
29                  7071           678          1
...                  ...           ...        ...
237512              6902           221          1
237513              6387          1323          1
237514              6132           790          1
237515              6038           309          0
237516              6110           439          1
237517              6070           294          1
237518              6019           408          1
237519              4000           439          1
237520              6079           475          0
237521              6268           410          1
237522              6328          1442          1
237523              6114           188          1
237524              6750           276          1
237525              6902           205          1
237526              7037           153          1
237527              6701            75          1
237528              6132           285          1
237529              6371           181          1
237530              6411           841          0
237531              6208           224          1
237532              6246           582          1
237533              6749           203          1
237534              7047           388          0
237535              6411           905          0
237536              6153           710          1
237537              6181           150          1
237538              6176           459          1
237539              6719           652          1
237540              6175          1538          1
237541              6063            79          1

[237542 rows x 6 columns]>

In [11]:
df=pd.read_csv('OD_2019-04.csv')

In [12]:
df

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2019-04-14 07:55:22,6001,2019-04-14 08:07:16,6132,713,1
1,2019-04-14 07:59:31,6411,2019-04-14 08:09:18,6411,587,1
2,2019-04-14 07:59:55,6097,2019-04-14 08:12:11,6036,736,1
3,2019-04-14 07:59:57,6310,2019-04-14 08:27:58,6345,1680,1
4,2019-04-14 08:00:37,7029,2019-04-14 08:14:12,6250,814,0
5,2019-04-14 08:01:27,6234,2019-04-14 08:08:02,6215,395,1
6,2019-04-14 08:01:42,7133,2019-04-14 08:11:31,7129,588,0
7,2019-04-14 08:01:52,6306,2019-04-14 08:10:11,6221,499,1
8,2019-04-14 08:02:29,6233,2019-04-14 08:04:41,6234,132,0
9,2019-04-14 08:02:46,6350,2019-04-14 08:09:04,7034,378,1
10,2019-04-14 08:02:50,6158,2019-04-14 08:05:50,6190,180,1
11,2019-04-14 08:03:32,7043,2019-04-14 08:12:05,6022,512,1
12,2019-04-14 08:03:35,6387,2019-04-14 08:28:23,7125,1488,1
13,2019-04-14 08:04:29,7043,2019-04-14 08:12:09,6022,459,1
14,2019-04-14 08:05:10,6389,2019-04-14 08:56:53,6389,3102,1
15,2019-04-14 08:05:18,7043,2019-04-14 08:12:15,6022,416,1
16,2019-04-14 08:05:24,6261,2019-04-14 08:26:30,6001,1265,1
17,2019-04-14 08:05:27,6169,2019-04-14 08:14:58,6183,570,1
18,2019-04-14 08:05:28,7032,2019-04-14 08:20:10,7032,882,1
19,2019-04-14 08:07:02,4002,2019-04-14 09:09:35,7112,3753,1
20,2019-04-14 08:07:35,6367,2019-04-14 08:44:20,6141,2204,1
21,2019-04-14 08:07:38,6036,2019-04-14 08:26:24,6036,1125,0
22,2019-04-14 08:08:52,6190,2019-04-14 08:09:58,6190,66,1
23,2019-04-14 08:08:53,6414,2019-04-14 08:33:26,6023,1472,1
24,2019-04-14 08:09:15,6155,2019-04-14 08:10:32,6154,76,1
25,2019-04-14 08:09:45,6379,2019-04-14 08:11:19,7060,93,1
26,2019-04-14 08:09:58,6021,2019-04-14 08:20:22,6184,623,1
27,2019-04-14 08:10:28,7013,2019-04-14 08:18:14,7013,466,1
28,2019-04-14 08:10:51,6926,2019-04-14 08:29:07,6746,1095,1
29,2019-04-14 08:10:56,6411,2019-04-14 08:22:14,7071,678,1
...,...,...,...,...,...,...
237512,2019-04-30 23:54:21,6901,2019-04-30 23:58:03,6902,221,1
237513,2019-04-30 23:54:24,6901,2019-05-01 00:16:28,6387,1323,1
237514,2019-04-30 23:54:27,6901,2019-05-01 00:07:38,6132,790,1
237515,2019-04-30 23:54:30,6424,2019-04-30 23:59:39,6038,309,0
237516,2019-04-30 23:54:42,6118,2019-05-01 00:02:01,6110,439,1
237517,2019-04-30 23:54:51,6202,2019-04-30 23:59:46,6070,294,1
237518,2019-04-30 23:54:52,6137,2019-05-01 00:01:40,6019,408,1
237519,2019-04-30 23:54:53,6128,2019-05-01 00:02:12,4000,439,1
237520,2019-04-30 23:55:00,6021,2019-05-01 00:02:55,6079,475,0
237521,2019-04-30 23:55:00,6277,2019-05-01 00:01:51,6268,410,1
237522,2019-04-30 23:55:08,6340,2019-05-01 00:19:10,6328,1442,1
237523,2019-04-30 23:55:16,6108,2019-04-30 23:58:24,6114,188,1
237524,2019-04-30 23:55:25,6280,2019-05-01 00:00:01,6750,276,1
237525,2019-04-30 23:56:14,6173,2019-04-30 23:59:39,6902,205,1
237526,2019-04-30 23:56:22,6202,2019-04-30 23:58:56,7037,153,1
237527,2019-04-30 23:56:45,6065,2019-04-30 23:58:01,6701,75,1
237528,2019-04-30 23:56:49,6113,2019-05-01 00:01:34,6132,285,1
237529,2019-04-30 23:57:08,6371,2019-05-01 00:00:10,6371,181,1
237530,2019-04-30 23:57:10,6020,2019-05-01 00:11:12,6411,841,0
237531,2019-04-30 23:57:24,6218,2019-05-01 00:01:09,6208,224,1
237532,2019-04-30 23:57:36,6182,2019-05-01 00:07:19,6246,582,1
237533,2019-04-30 23:58:25,7069,2019-05-01 00:01:49,6749,203,1
237534,2019-04-30 23:58:40,7003,2019-05-01 00:05:08,7047,388,0
237535,2019-04-30 23:58:45,6020,2019-05-01 00:13:50,6411,905,0
237536,2019-04-30 23:59:23,6411,2019-05-01 00:11:14,6153,710,1
237537,2019-04-30 23:59:27,6215,2019-05-01 00:01:57,6181,150,1
237538,2019-04-30 23:59:37,6173,2019-05-01 00:07:17,6176,459,1
237539,2019-04-30 23:59:38,6080,2019-05-01 00:10:30,6719,652,1
237540,2019-04-30 23:59:40,6226,2019-05-01 00:25:19,6175,1538,1
237541,2019-04-30 23:59:45,6065,2019-05-01 00:01:05,6063,79,1